@model ProductDetailsVM

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.smartaddons.com/templates/html/emarket/quickview.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Sep 2021 16:36:52 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <!-- Basic page needs
    ============================================ -->
    <title>BytoninC - The Best for Your Home</title>
    <meta charset="utf-8">
    <meta name="keywords" content="html5 template, best html5 template, best html template, html5 basic template, multipurpose html5 template, multipurpose html template, creative html templates, creative html5 templates" />
    <meta name="description" content="eMarket is a powerful Multi-purpose HTML5 Template with clean and user friendly design. It is definite a great starter for any eCommerce web project." />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
    ============================================ -->

    <link rel="shortcut icon" type="image/png" href="ico/favicon-16x16.png" />


    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="~/ClientTemplet/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/ClientTemplet/css/custom.css">
    <link href="~/ClientTemplet/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="~/ClientTemplet/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="~/ClientTemplet/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/ClientTemplet/css/themecss/lib.css" rel="stylesheet">
    <link href="~/ClientTemplet/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="~/ClientTemplet/js/minicolors/miniColors.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="~/ClientTemplet/css/themecss/so_searchpro.css" rel="stylesheet">
    <link href="~/ClientTemplet/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="~/ClientTemplet/css/themecss/so-categories.css" rel="stylesheet">
    <link href="~/ClientTemplet/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="~/ClientTemplet/css/themecss/so-newletter-popup.css" rel="stylesheet">

    <link href="~/ClientTemplet/css/footer/footer1.css" rel="stylesheet">
    <link href="~/ClientTemplet/css/header/header1.css" rel="stylesheet">
    <link id="color_scheme" href="~/ClientTemplet/css/theme.css" rel="stylesheet">
    <link href="~/ClientTemplet/css/responsive.css" rel="stylesheet">
    <link href="~/ClientTemplet/css/custom.css" rel="stylesheet" />

    <!-- Google web fonts
    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700' rel='stylesheet' type='text/css'>
    <style type="text/css">
        body {
            font-family: 'Roboto', sans-serif
        }
    </style>

</head>

<body class="res layout-subpage">
    <div id="wrapper" class="wrapper-full ">
        <!-- Main Container  -->
        <div class="main-container container">

            <div class="row">
                <!--Middle Part Start-->
                <div id="content" class="col-md-12 col-sm-12">

                    <div class="product-view row quickview-w">
                        <div class="left-content-product">

                            <div class="content-product-left class-honizol col-md-5 col-sm-12">
                                <div class="large-image  ">
                                    <img itemprop="image" class="product-image-zoom" style="height: 100%; width: 100%;" src="@Url.Content(Model.product.FirstImgUrl)" data-zoom-image="@Url.Content(Model.product.FirstImgUrl)">
                                </div>
                                <a class="thumb-video pull-left" href="https://www.youtube.com/watch?v=HhabgvIIXik"><i class="fa fa-youtube-play"></i></a>

                                <div id="thumb-slider" class="yt-content-slider full_slider owl-drag" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="10" data-items_column0="4" data-items_column1="3" data-items_column2="4" data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                                    @foreach (var item in Model.ProductImages)
                                    {
                                        <a data-index="0" class="img thumbnail" data-image="@Url.Content(item.ImgUrl)">
                                            <img src="@Url.Content(item.ImgUrl)">
                                        </a>
                                    }

                                </div>

                            </div>

                            <div class="content-product-right col-md-7 col-sm-12 ">
                                <div class="title-product">
                                    <h1>@Model.product.NameE</h1>
                                </div>
                                <!-- Review ---->
                                <div class="box-review form-group">
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                        </div>
                                    </div>

                                    <a class="reviews_button" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">0 reviews</a>	|
                                    <a class="write_review_button" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Write a review</a>
                                </div>

                                <div class="product-label form-group">
                                    <div class="product_page_price price" itemprop="offerDetails" itemscope="" itemtype="http://data-vocabulary.org/Offer">
                                        @if (Model.product.Offer > 0)
                                        {
                                            <span class="price-new" itemprop="price">@Model.product.Offer</span>
                                            <span class="price-old">@Model.product.Price</span>
                                        }

                                    </div>
                                    @if (@Model.product.IsActive)
                                    {
                                        <div class="stock"><span>Availability:</span> <span class="status-stock">In Stock</span></div>

                                    }
                                </div>




                                <div id="product">


                                    <div class="form-group box-info-product" style="margin-bottom: 20px;">
                                        <div class="option quantity">
                                            <div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;">
                                                <label>Quantity</label>
                                                <input class="form-control" type="text" name="quantity" id="txtQuantity"
                                                       value="1">
                                                <input type="hidden" name="product_id" value="50">
                                                <span class="input-group-addon product_quantity_down">−</span>
                                                <span class="input-group-addon product_quantity_up">+</span>
                                            </div>
                                        </div>
                                        <div class="cart">
                                            <input type="button" data-toggle="tooltip" title="" value="Add to Cart" data-loading-text="Loading..." id="button-cart" class="btn btn-mega btn-lg" onclick="addToCart(@Model.product.Id, '@Model.product.NameE', '@Model.product.NameA' , @Model.product.Price,@Model.product.Offer , '@Model.product.FirstImgUrl', document.getElementById('txtQuantity').value)" data-original-title="Add to Cart">
                                        </div>
                                        <div class="add-to-links wish_comp">
                                            <ul class="blank list-inline">
                                                <li class="wishlist">
                                                    <a class="icon" data-toggle="tooltip" title=""
                                                       onclick="AddToWishList(@Model.product.Id)" data-original-title="Add to Wish List">
                                                        <i class="fa fa-heart"></i>
                                                    </a>
                                                </li>
                                                @*<li class="compare">
                                                        <a class="icon" data-toggle="tooltip" title=""
                                                           onclick="compare.add('50');" data-original-title="Compare this Product">
                                                            <i class="fa fa-exchange"></i>
                                                        </a>
                                                    </li>*@
                                            </ul>
                                        </div>

                                    </div>

                                    <div>
                                        <h3>Description :</h3>
                                        <ul>
                                            @foreach (var item in Model.productDescriptions)
                                            {
                                                <li class="disc-list">@item.DescriptionE</li>

                                            }

                                        </ul>
                                    </div>

                                </div>
                                <!-- end box info product -->

                            </div>

                        </div>

                    </div>

                    <script type="text/javascript">
                        // Cart add remove functions
                        var cart = {
                            'add': function (product_id, quantity) {
                                parent.addProductNotice('Product added to Cart', '<img src="image/demo/shop/product/e11.jpg" alt="">', '<h3><a href="#">Apple Cinema 30"</a> added to <a href="#">shopping cart</a>!</h3>', 'success');
                            }
                        }

                        var wishlist = {
                            'add': function (product_id) {
                                parent.addProductNotice('Product added to Wishlist', '<img src="image/demo/shop/product/e11.jpg" alt="">', '<h3>You must <a href="#">login</a>  to save <a href="#">Apple Cinema 30"</a> to your <a href="#">wish list</a>!</h3>', 'success');
                            }
                        }
                        var compare = {
                            'add': function (product_id) {
                                parent.addProductNotice('Product added to compare', '<img src="image/demo/shop/product/e11.jpg" alt="">', '<h3>Success: You have added <a href="#">Apple Cinema 30"</a> to your <a href="#">product comparison</a>!</h3>', 'success');
                            }
                        }


                    </script>


                </div>


            </div>
            <!--Middle Part End-->
        </div>
        <!-- //Main Container -->

        <style type="text/css">
            #wrapper {
                box-shadow: none;
            }

                #wrapper > *:not(.main-container) {
                    display: none;
                }

            #content {
                margin: 0
            }

            .container {
                width: 100%;
            }

            .product-info .product-view, .left-content-product, .box-info-product {
                margin: 0;
            }

                .left-content-product .content-product-right .box-info-product .cart input {
                    padding: 12px 16px;
                }

                .left-content-product .content-product-right .box-info-product .add-to-links {
                    width: auto;
                    float: none;
                    margin-top: 0px;
                    clear: none;
                }

            .add-to-links ul li {
                margin: 0;
            }
        </style>
    </div>

    <!-- Include Libs & Plugins
    ============================================ -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="~/ClientTemplet/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="~/ClientTemplet/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/ClientTemplet/js/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="~/ClientTemplet/js/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="~/ClientTemplet/js/themejs/libs.js"></script>
    <script type="text/javascript" src="~/ClientTemplet/js/unveil/jquery.unveil.js"></script>
    <script type="text/javascript" src="~/ClientTemplet/js/countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="~/ClientTemplet/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
    <script type="text/javascript" src="~/ClientTemplet/js/datetimepicker/moment.js"></script>
    <script type="text/javascript" src="~/ClientTemplet/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/ClientTemplet/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/ClientTemplet/js/modernizr/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="~/ClientTemplet/js/minicolors/jquery.miniColors.min.js"></script>

    <!-- Theme files
    ============================================ -->
    <script type="text/javascript" src="~/ClientTemplet/js/themejs/homepage.js"></script>
    <script type="text/javascript" src="~/ClientTemplet/js/themejs/toppanel.js"></script>

    <script type="text/javascript" src="~/ClientTemplet/js/themejs/so_megamenu.js"></script>
    <script type="text/javascript" src="~/ClientTemplet/js/themejs/addtocart.js"></script>
    <script type="text/javascript" src="~/ClientTemplet/js/themejs/application.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/ClientTemplet/js/cartLocalStaorage.js"></script>
    <script>




         function AddToWishList(productId) {

            if (productId && productId != '') {
                $.ajax({
                    url: '@Url.Action("AddWishListItem", "ClientWishList")',
                    type: 'POST',
                    cache: false,
                    data: { productId: productId }
                }).done(function (result) {

                });
            }
        }
        function DeleteWishListItem(wishListId) {

            if (wishListId && wishListId != '') {
                $.ajax({
                    url: '@Url.Action("DeleteWishListItem", "ClientWishList")',
                    type: 'POST',
                    cache: false,
                    data: { wishListId: wishListId }
                }).done(function (result) {

                });
            }
        }
    </script>
</body>


<!-- Mirrored from demo.smartaddons.com/templates/html/emarket/quickview.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Sep 2021 16:36:52 GMT -->
</html>