@model Cart_ShipsVM
@{
    ViewData["Title"] = "GetUserCartWithShips";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div id="wrapper" class="wrapper-fluid banners-effect-5">




    <!-- Main Container  -->
    <div class="main-container container">
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Checkout</a></li>

        </ul>

        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h2 class="title">Checkout</h2>
                <div class="so-onepagecheckout row">



                    <div class="col-sm-12">
                        <div class="row">


                            <!-- Shopping Cart Start -->
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><i class="fa fa-shopping-cart"></i> Shopping cart</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <td class="text-center">Image</td>
                                                        <td class="text-left">Product Name</td>
                                                        <td class="text-left">Quantity</td>
                                                        <td class="text-right">Unit Price</td>
                                                        <td class="text-right">Total</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{decimal Totalcart = 0; }
                                                    @foreach (var item in Model.Carts)
                                                    {
                                                        <tr>
                                                            <td class="text-center"><a asp-action="GetProductDetails" asp-controller="ClientProduct" asp-route-id="@item.ProductId"><img height="70px" width="70px" src="@Url.Content(item.Product.FirstImgUrl)" alt="Aspire Ultrabook Laptop" title="Aspire Ultrabook Laptop" class="img-thumbnail" /></a></td>
                                                            <td class="text-left">
                                                                <a asp-action="GetProductDetails" asp-controller="ClientProduct" asp-route-id="@item.ProductId">@item.Product.NameE</a><br />
                                                            </td>
                                                            <td class="text-left">
                                                                <div class="input-group btn-block" style="min-width: 100px;">
                                                                    <input type="text" name="quantity" value="1" size="1" class="form-control" disabled>
                                                                </div>
                                                            </td>
                                                            @if (item.Product.Offer > 0)
                                                            {
                                                                <td class="text-right">
                                                                    <div class="price"> <span class="price-new">@item.Product.Offer EGP</span> <span class="price-old">@item.Product.Price EGP</span></div>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td class="text-right">
                                                                    <div class="price"> <span class="price-new" itemprop="price">@(item.Product.Price) EGP</span></div>
                                                                </td>
                                                            }
                                                        <td class="text-right">@(item.TotalPrice) EGP</td>
                                                        </tr>
                                                        Totalcart += item.TotalPrice;
                                                    }

                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Shopping Cart End -->
                            <!-- Voacher Start -->
                            <div class="col-sm-12 ">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><i class="fa fa-ticket"></i> Do you Have a Coupon or Voucher?</h4>
                                    </div>
                                    <div class="panel-body row">
                                        <!-- <div class="col-sm-6 marg-t-1">
                                        <div class="input-group">
                                          <input type="text" class="form-control" id="input-coupon" placeholder="Enter your coupon here" value="" name="coupon">
                                          <span class="input-group-btn">
                                          <input type="button" class="btn btn-primary" data-loading-text="Loading..." id="button-coupon" value="Apply Coupon">
                                          </span></div>
                                        </div> -->

                                        <div class="col-sm-12 marg-t-1">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="input-voucher" placeholder="Enter your gift voucher code here" value="" name="voucher">
                                                <span class="input-group-btn">
                                                    <input type="submit" class="btn btn-primary" data-loading-text="Loading..." id="button-voucher" value="Apply Voucher">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Voacher End -->
                            <!-- Address PNL Start -->
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><i class="fa fa-book"></i> Your Address</h4>
                                    </div>
                                    <div class="panel-body">
                                        <fieldset id="address" class="required">
                                            <div class="form-group required">
                                                <label for="input-payment-zone" class="control-label">Government</label>
                                                <select class="form-control" id="input-payment-zone" name="zone_id">
                                                    <option value=""> --- Please Select --- </option>
                                                    <option value="3513">Minia</option>
                                                    <option value="3514">Alex</option>
                                                    <option value="3515">Cairo</option>
                                                    <option value="3516">Giza</option>
                                                    <option value="3517">Quena</option>
                                                    <option value="3518">Behira</option>
                                                    <option value="3519">Gharbia</option>
                                                    <option value="3520">Sharkia</option>
                                                    <option value="3521">Menofia</option>
                                                    <option value="3522">Daqahlia</option>

                                                </select>
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-address-1" class="control-label">Address 1</label>
                                                <input type="text" class="form-control" id="input-payment-address-1" placeholder="Address 1" value="" name="address_1">
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" checked="checked" value="1" name="shipping_address">
                                                    My delivery and billing addresses are the same.
                                                </label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <!-- Address PNL End -->






                            <div class="col-sm-12 col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><i class="fa fa-money"></i> Total Bill</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <tfoot>
                                                    <tr>
                                                        <td class="text-right" colspan="4"><strong>Sub-Total:</strong></td>
                                                        <td class="text-right">@Totalcart EGP</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right" colspan="4"><strong>Flat Shipping Rate:</strong></td>
                                                        <td class="text-right">0.0 EGP</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right" colspan="4"><strong>Eco Tax :</strong></td>
                                                        <td class="text-right"><s>30.0 EGP</s> 0.0 EGP</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right" colspan="4"><strong>VAT (20%) :</strong></td>
                                                        <td class="text-right"><s>20.0 EGP</s> 0.0 EGP</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right" colspan="4"><strong>Total:</strong></td>
                                                        <td class="text-right">@Totalcart EGP</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Payment Method Start -->
                            <div class="col-sm-12 col-md-6">
                                <div class="panel panel-default no-padding">

                                    <div class="panel-heading">
                                        <h4 class="panel-title"><i class="fa fa-credit-card"></i> Payment Method</h4>
                                    </div>
                                    <div class="panel-body">
                                        <p>Please select the preferred payment method to use on this order.</p>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" checked="checked" name="Cash On Delivery">Cash On Delivery
                                            </label>
                                        </div>

                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="Paypal">Online Payment
                                            </label>
                                        </div>
                                        <br><br>
                                        <label class="control-label" for="confirm_agree">
                                            <input type="checkbox" checked="checked" value="1" required="" class="validate required" id="confirm_agree" name="confirm agree">
                                            <span>I have read and agree to the <a class="agree" href="#"><b>Terms &amp; Conditions</b></a></span>
                                        </label>
                                        <div class="buttons">
                                            <div class="pull-right">
                                                <input type="button" class="btn btn-primary" id="button-confirm" value="Confirm Order">
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <!-- Payment Method End -->
                            <!-- Comment Method End -->
                            <!-- <div class="col-sm-12 col-md-6">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title"><i class="fa fa-pencil"></i> Add Comments About Your Order</h4>
                                </div>
                                  <div class="panel-body">

                                    <br>

                                  </div>
                              </div>
                            </div> -->
                            <!-- Comment Method End -->

                        </div>
                    </div>
                </div>
            </div>
            <!--Middle Part End -->

        </div>
    </div>
    <!-- //Main Container -->


</div>
